<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="sample.css">
    <script src="sample.js"></script>
</head>

<body>

<header>
    Header cua trang
</header>
<nav id="navigation">
    <ul>
        <li><a href="">ha noi</a> </li>
        <li><a href="">ho chi minh</a> </li>
        <li><a href="">da nang</a> </li>
    </ul>
</nav>

<section id="main">
    <aside>
        <li><a href=""> trung quoc</a></li>
        <li><a href="">han quoc</a></li>
        <li><a href="">hoa ky</a></li>
    </aside>

    <article>
        Nội dung giữa trang thường xuyên thay đổi
    </article>
</section>

<footer>
    Tôi là footer
</footer>

</body>
</html>
